* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #06102C;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #fff;
    padding-top: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: width 0.3s; /* Menambahkan transisi untuk efek perubahan lebar sidebar */
}

.sidebar a {
    padding: 16px;
    padding-left: 36px;
    text-decoration: none;
    color: #06102C;
    display: block;
}

.sidebar a:hover {
    background-color: #f4f4f4;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .logout {
    position: absolute;
    width: 100%;
    color: #06102C;
    text-align: center;
}

.content {
    margin-left: 250px;
    padding: 20px;
    color: white;
}

.content .profile {
    text-align: right;
}

.content .row {
    padding: 16px;
}

.content .card {
    width: 28%;
    height: 180px;
    margin: auto;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 28px;
    min-width: 300px;
}

.content .row .col {
    margin-left: 24px;
}

/* Menambahkan media query untuk membuat sidebar responsif */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 0;
        overflow: hidden;
    }

    .content {
        margin-left: 0;
    }
}

/* Add this style to your CSS */
.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: white;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
}

/* Add this style to your CSS */
.sidebar.active {
  width: 0;
}

.sidebar.active + .content {
  margin-left: 0;
}

.hamburger-btn.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Add media query for small screens */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 0;
  }

  .content {
    margin-left: 0;
  }

  .hamburger-btn {
    display: block;
  }
}


    /* Media query untuk mengubah tata letak pada layar kecil */
    @media (max-width: 600px) {
      .row {
        display: flex;
        flex-direction: column;
      }
    }